/* common share styles*/

body {
    font-family: 'Lato', sans-serif;
}

/* Banner section style */
.header{
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;

}

.banner-description{
    /* display: flex; */
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary{
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}

.banner-pic {
    width: 635px;
    height: 800px;
}